@import '../../colorTheme.scss';

.home-container{
    background-color: $main-color;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    &__section{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title{
            width:55%;
            margin-bottom:2em;
            text-align: center;
            color:$secondary-color;
        }

        &__button{
            font-size: 1.5rem;
            font-weight: bold;
            color:$main-color;
            text-decoration: none;
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            padding: 1rem;
            &:hover{
                color:$secondary-color;
                background-color: $main-color;
            }
        }
    }
}